*.class                  # compiled bytecode
*.jar
*.war
*.ear

# Ignore every NetBeans project folder and its contents
**/nbproject/

# **/nbproject/private/

# NetBeans-generated Ant build scripts and manifests
**/build.xml
**/manifest.mf

# Output directories created by NetBeans/Ant
**/build/
**/dist/
nbbuild/
nbdist/

# Generated sources (annotation processors, etc.)
**/generated-sources/
**/build/generated-sources/

# Other IDEs / editors                                     
.classpath   # Eclipse
.project
.settings/
.idea/       # IntelliJ / Android Studio
*.iml
.vscode/     # VS Code

# Operating-system                                 
# macOS
.DS_Store
.AppleDouble
.LSOverride
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
# Linux & others
*~

# Logs, dumps, temp files                                  
*.log
*.tmp
hs_err_pid*
replay_pid*

# Build-tool wrappers                                      
.mvn/wrapper/maven-wrapper.jar
gradle/wrapper/gradle-wrapper.jar

