

# Compiled bytecode
*.class

# JARs, WARs, EARs 
*.jar
*.war
*.ear

# Build output created by NetBeans  / Ant

*/build/
*/dist/
nbbuild/
nbdist/

# NetBeans project metadata 
nbproject/private/

# Generated sources
*/generated-sources/
**/build/generated-sources/


# Eclipse, IntelliJ, VS Code
.classpath
.project
.settings/
.idea/
*.iml
.vscode/


# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# logs / tmp files

*.log
*.tmp
hs_err_pid*
replay_pid*

# Maven / Gradle wrapper jars 
.mvn/wrapper/maven-wrapper.jar
gradle/wrapper/gradle-wrapper.jar

